<div *ngIf="autoCheckpoint" class="row gx-4 gy-4">
    <div class="col-4 col-history">
        <div class="col-history-inner"> 
            <nav class="nav nav-pills">
                <div class="navbar navbar-light bg-white sticky-top w-100">
                    <div class="nav-item">
                    <a routerLink="." [queryParams]="{}"
                        class="nav-link mb-2"
                        [routerLinkActiveOptions]="{exact:true}"
                        routerLinkActive="active">
                        Follow current events
                    </a>
                    <div class="input-group nav-item">
                        <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            [(ngModel)]="selectedDate"
                            (dateSelect)="onDateSelect($event)"
                            ngbDatepicker
                            #datepicker="ngbDatepicker"
                        />
                        <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
                            <ng-icon name="bootstrapCalendar3"></ng-icon>
                        </button>
                    </div>
                </div>
                </div>
                <div class="nav-item"><span *ngIf="loading">Loading...</span></div>
                <div *ngFor="let h of historyWindow" class="nav-item">
                    <a routerLink="." [queryParams]="queryInterval ? {timestamp: h.alpr_result.timestamp, begin: queryInterval[0].toISOString(), end: queryInterval[1].toISOString()} : {timestamp: h.alpr_result.timestamp}" replaceUrl="true"
                        class="nav-link"
                        [routerLinkActiveOptions]="this.historyLinkActiveOptions"
                        routerLinkActive="active">
                        <span class="log-timestamp">{{h.alpr_result.timestamp | date : 'dd-MM-yyyy HH:mm:ss' }}</span>
                        {{h.direction.name}}
                        <span class="rec-result">{{h.alpr_result.plate_text}}</span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <div class="col-8">
    <h1>{{autoCheckpoint.displayName}}</h1>
<h2>{{autoCheckpoint.description}}</h2>
<div class="row">
    <div class="col-6"> 
    <acp-fact class="card-fact" [fact]="current" [snapshotRequestDelay]="2000" *ngIf="current && !selectedFact" [@fadeOut] />
    <acp-fact class="card-fact" [fact]="selectedFact" *ngIf="selectedFact" />
</div>

<div class="col-5">
    <div *ngFor="let direction of autoCheckpoint.directions" class="card w-100 card-direction-view">
        <div class="card-body">
            <webrtc-viewport 
                [video-source]="direction.videoSource" 
                [video-track]="direction.videoTrack"
                [interval]="playbackInterval">
            </webrtc-viewport>
            <h4 class="card-title">{{direction.direction}}</h4>
            <p class="card-text">{{direction.name}}</p>
        </div>
    </div>
</div>
</div>
</div>
</div>