<div class="row">
    <div class="col-md-4">
            <ul *ngIf="webrtcServers!=null &amp;&amp; webrtcServers &gt; 1" class="nav nav-pills flex-column">
                <li class="nav-item" *ngFor="let wr of webrtcServers">
                    <a class="nav-link" routerLink="/webrtc-video/{{wr.name}}" routerLinkActive="active">{{wr.displayName}}</a>
                    
                </li>
            </ul>
            <ul *ngIf="selectedServer!=null" class="nav nav-pills flex-column">
                <li class="nav-item" *ngFor="let vs of selectedServer.videoSources">
                    <a class="nav-link" routerLink="/webrtc-video/{{selectedServer.name}}/{{vs.name}}" routerLinkActive="active">{{vs.displayName}}</a>
                </li>
            </ul>
    </div>

    <div class="col-md-8">
    <router-outlet></router-outlet>
    </div>
    
</div> <!--row-->    