<button type="button" class="btn btn-outline-primary" [value]="pause" (click)="togglePause()">{{pause?"Unp":"P"}}ause</button>
<span *ngIf="pause">&nbsp;{{skipped}} skipped while on pause</span>
<table>
    <thead>
        <tr>
            <th width="10%">Topic</th>
            <th width="15%">Timestamp</th>
            <th width="15%">Origin</th>
            <th width="60%">Data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of lastEvents">
            <td class="etd etd-topic">{{e.topic}}</td>
            <td class="etd etd-timestamp">{{e.timestamp}}</td>
            <td class="etd etd-origin">{{e.origin}}</td>
            <td class="etd etd-data">{{e.data}}</td>
        </tr>
    </tbody>
</table>