<div class="row">
    <div class="col-md-4">
        <ng-container *ngIf="(videoSources != null) &amp;&amp; (videoSources.length &lt;= 16); then verboseList else terseList"></ng-container>
    </div>
    <ng-template #terseList>
        <div>
        <h3>Select a live video source</h3>
        <a class="btn" *ngFor="let vs of videoSources" routerLink="./{{vs.name}}" 
            title="{{vs.name+(vs.description!=null ? '\n'+vs.description : '')}}" 
            routerLinkActive="btn-primary">
            {{videoSources.length &lt;= 16 ? vs.displayName : vs.name}}
        </a>
        </div>
    </ng-template>
    <ng-template #verboseList>
        <div>
        <ul class="nav nav-pills flex-column">
        <ng-container *ngFor="let vs of videoSources">
            <li class="nav-item">
                <a class="nav-link" routerLink="./{{vs.name}}" routerLinkActive="active">{{vs.displayName+(vs.name!=vs.displayName?' ('+vs.name+')':'')}}
                <small *ngIf="vs.description!=null"><br/>{{vs.description}}</small>
                </a>
            </li>
            <li class="nav-item" *ngFor="let dvs of vs.derivedStreams">
                <a class="nav-link substream" routerLink="./{{dvs.name}}" routerLinkActive="active" title="{{dvs.displayName}}">{{dvs.streamRole}}</a>
            </li>

        </ng-container>
        </ul>
        </div>
    </ng-template>
    <div class="col-md-7">
    <router-outlet></router-outlet>
    </div>
</div>