<nav class="navbar navbar-expand-md nav-fixed-top bg-primary navbar-dark">
    <div class="container-fluid">
        <h1 class="navbar-brand"><img src="assets/viinex.png" height="25px" style="padding-top: 4px;"/></h1>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isAccessGranted">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/video-objects">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/webrtc-video">WebRTC (live)</a> 
            </li>
            <li class="nav-item" *ngIf="isHttpRpc">
                <a class="nav-link" routerLinkActive="active" routerLink="/live-video">HLS (live)</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/video-archive">Video archive</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/events">Events</a> 
            </li>
            <li class="nav-item" *ngIf="enableApps">
                <a class="nav-link" routerLinkActive="active" routerLink="/apps">Applications</a> 
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/onvif">ONVIF discovery tool</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="isLoginApplicable">
                <a class="nav-link" routerLinkActive="active" routerLink="/login">{{loginRefLabel}}</a>
            </li>
        </ul>
    </div>
</nav>

<footer class="footer">
    <div class="container">
    <p class="text-muted">This is a demo user interface for viinex video management SDK. 
    (c) <a href="https://www.viinex.com">Viinex Inc.</a>, 2019-2025. All rights reserved.</p>
    </div>
</footer>

<div class="container-fluid maincontainer">
    <br/>
    <router-outlet></router-outlet>
</div> <!--container-->
