<div class="row" *ngIf="isServerOnline &amp;&amp; isLoginRequired">
    <div class="col-md-4 col-sm-12">
        <form class="form">
            <div class="form-group">
                <h2 class="col-12">Login is required</h2>
                <h5 class="col-12" *ngIf='isWamp'>WAMP transport is going to be used</h5>
                <div class="col-12 alert alert-danger" *ngIf="null!=errorMessage">{{errorMessage}}</div>
            </div>
            <div class="form-group" *ngIf="isWamp">
                <label class="col-form-label col-sm-4" for="wampUri">URI to connect to:</label>
                <input [(ngModel)]="wampUri" type="text" class="form-control col-sm-8" name="wampUri" id="realm" placeholder="ws://example.com:8080/path" autocomplete="wampUri"/>
            </div>
            <div class="form-group" *ngIf="isWamp">
                <label class="col-form-label col-sm-4" for="wampRealm">WAMP realm:</label>
                <input [(ngModel)]="wampRealm" type="text" class="form-control col-sm-8" name="wampRealm" id="realm" placeholder="realm1" autocomplete="wampRealm"/>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-4" for="username">User name:</label>
                <input [(ngModel)]="loginName" type="email" class="form-control col-sm-8" name="loginName" id="username" placeholder="username" autocomplete="username"/>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-4" for="password">Password:</label>
                <input [(ngModel)]="loginPassword" type="password" class="form-control col-sm-8" id="password" name="loginPassword" placeholder="password" autocomplete="current-password"/>
            </div>
            <br>
            <div class="form-group form-check">
                <input [(ngModel)]="rememberLoginDetails" type="checkbox" class="form-check-input" id="rememberLoginDetails" name="rememberLoginDetails"/>
                <label class="form-check-label" for="rememberLoginDetails">Remember login details on this device</label>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-primary" (click)="onLogin()">Login</button>
            </div>
        </form>
    </div>
    <br>
    <div class="col-12" *ngIf="isWamp">
        Matching ed25519 public key:&nbsp; <pre>{{publicKey(loginPassword)}}</pre>
    </div>
</div>

<div *ngIf="isServerOnline &amp;&amp; !isLoginRequired">
    <div *ngIf="loginName != null">
        <p>
            You are logged in.
        </p>
        <button class="btn btn-primary" (click)="onLogout()">Logout</button>
    </div>
    <div *ngIf="loginName == null">
        This server does not require authentication.
    </div>
</div>

<div *ngIf="!isServerOnline">
    <div class="alert alert-danger">The server is currently not accessible. Please try again later.</div>
</div>
