<h2>ONVIF devices</h2>
<div class="row">
<div class="col-6">
    <h3>Discover</h3>
    <h4>Devices found on the local network</h4>
    Total: {{devices != null ? devices.length : "N/A"}} device(s).
    <div [ngClass]="probeResult?[]:['devices-list']">
        <div class="sticky-top w-100">
            <ul>
                <li *ngFor="let dev of devices">
                    <h4>{{dev.name}}</h4>
                    Name: {{dev.name}} <br/>
                    Hardware: {{dev.hardware}} <br/>
                    <ng-template *ngIf="dev.location">
                    Location: {{dev.location}} <br/>
                    </ng-template>
                    URL: {{dev.url}} <br/>
                    <button class="btn primary" (click)="this.probeFor(dev.url)">Probe for details...</button><br/>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-6">
    <h3>Probe</h3>

    <div class="row">
        <h4>Parameter for probing a device</h4>
        <div class="col-8">
            <label for="inputDeviceAddress" class="form-label">Device address</label>
            <input class="form-control" type="text" size="12" id="inputDeviceAddress" placeholder="ip addr or host" [(ngModel)]="probeCustomAddress" />
        </div>
        <div class="col-4">
            <label for="inputDeviceAddress" class="form-label">Port</label>
            <input class="form-control" type="text" size="4" id="inputDevicePort" placeholder="port" [(ngModel)]="probeCustomPort" />
        </div>
        <div class="col-12 mt-3">
            <div class="form-check">
                <label for="probeAnon" class="form-label">As anonymous</label>
                <input id="probeAnon" type="checkbox" class="form-check-input" 
                    [(ngModel)]="probeAnon" />
            </div>
        </div>
        <div class="col-4" *ngIf="!probeAnon">
            <label for="inputLogin" class="form-label">User name</label>
            <input class="form-control" type="text" size="8" id="inputLogin" placeholder="login" 
                [(ngModel)]="probeLogin" />
        </div>
        <div class="col-4" *ngIf="!probeAnon">
            <label for="inputPassword" class="form-label">Password</label>
            <input class="form-control" type="password" size="8" id="inputPassword" placeholder="password" 
                [(ngModel)]="probePassword" />
        </div>
    </div> <!--parameters row-->
    <div class="row">
        <div class="col-6 mt-3 mb-3">
            <button type="submit" class="btn primary active" (click)="this.probeForCustom()">Probe...</button>
        </div>
    </div>
        

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage!=null">Operation failed: <b>{{errorMessage}}</b><br>{{errorDetails}}</div>
    <div *ngIf="probeResult!=null">
        <h4>Probe result for {{probeTarget}}</h4>
        <h5>Device information</h5>
        Vendor: {{probeResult.info.vendor}} <br/>
        Serial: {{probeResult.info.serial}} <br/>
        Model: {{probeResult.info.model}} <br/>
        Firmware: {{probeResult.info.firmware}} <br/>
        <h5>Video sources</h5>
        <div *ngFor="let vs of probeResult.videoSources">
        {{vs.token}} : {{vs.resolution[0]}}x{{vs.resolution[1]}} at {{vs.framerate}} FPS <br/>
        </div>
        <h5>Profiles</h5>
        <ul>
        <li *ngFor="let p of probeResult.profiles">
            <h5>{{p.name}}</h5>
            Token: {{p.token}} <br/>
            Fixed: {{p.fixed?"YES":"NO"}} <br/>
            Video codec settings:<br/>
            Codec: {{p.video.codec}} <br/>
            Resolution: {{p.video.resolution[0]}}x{{p.video.resolution[1]}} <br/>
            Video source token: {{p.video.source}} <br/>
            Quality: {{p.video.quality}} <br/>
            Bounds: ({{p.video.bounds[0]}},{{p.video.bounds[1]}})-({{p.video.bounds[2]}},{{p.video.bounds[3]}}) 
        </ul>
    </div>
</div>
</div>