<h1>Overview</h1>
<p>This page shows the information on video obects, i.e. cameras and archives, already configured at Viinex server. </p>
<h2>Video sources</h2>
<div class="card-group">
    <div *ngFor="let vs of videoSources" class="card col-md-4 col-sm-6" style="max-width: '400px'">
        <img *ngIf="videoSources.length &lt;= 16 &amp;&amp; vs.getSnapshotImage != null" 
            class="card-img-top img-fluid"
            src="{{liveSnapshots[vs.name]}}"
            (error)="onSnapshotError($event)" />
        <div class="card-body">
            <h4>{{vs.displayName}}</h4>
            <p *ngIf="vs.description != null">{{vs.description}}</p>
            <a *ngIf="isHttp && vs.isLive" routerLink="/live-video/{{vs.name}}"><span class="badge badge-success">Live (HLS)</span>&nbsp;</a>
            <a *ngIf="vs.webrtcServers.length &gt; 0" routerLink="/webrtc-video/{{vs.webrtcServers[0].name}}/{{vs.name}}"><span class="badge badge-info">WebRTC</span>&nbsp;</a>
            <span *ngIf="vs.videoTracks.length>0" class="badge badge-info">In {{vs.videoTracks.length}} archive(s)</span>
        </div>
    </div>
</div>
<div *ngIf="videoArchives.length!=0">
    <h2>Video archives</h2>
    <div class="card-group">
        <div class="card col-md-4 col-sm-6" *ngFor="let va of videoArchives">
            <div class="card-body" *ngIf="va.summarySnapshot!=null">
                    <h4><a routerLink="/video-archive/{{va.name}}">{{va.displayName}}</a></h4>
                    <p *ngIf="va.description != null">{{va.description}}</p>
                    {{gb(va.summarySnapshot.diskUsage)}} used, {{va.summarySnapshot.tracks.size}} track(s)
            </div>
        </div>
    </div>
</div>
