<h1>Overview</h1>
This page shows the information on video obects, i.e. cameras and archives, already configured at Viinex server. 
<p>
Most of work is done by a single API call to <a href="/v1/svc" taget="_blank">/v1/svc</a> URL, which returns the names of objects 
and enumerates the functional interfaces implemented by each of them. Feel free to follow this link and watch there for elements implementing 
the "VideoSource" and "VideoStorage" interfaces.
<p>
<h2>Video sources</h2>
<div class="card-columns">
    <div *ngFor="let vs of videoSources" class="card">
        <img *ngIf="videoSources.length &lt;= 16 &amp;&amp; vs.getSnapshotImage != null" 
            class="card-img-top img-fluid" width="100%"
            src="{{vs.getSnapshotImage+'?width=160'}}"/>
        <div class="card-block">
            <h4>{{vs.displayName}}</h4>
            <p *ngIf="vs.description != null">{{vs.description}}</p>
            <a routerLink="/live-video/{{vs.name}}"><span *ngIf="vs.isLive" class="badge badge-success">Live stream</span></a>
            <span *ngIf="vs.videoTracks.length>0" class="badge badge-info">In {{vs.videoTracks.length}} archive(s)</span>
        </div>
    </div>
</div>
<div *ngIf="videoArchives.length!=0">
    <h2>Video archives</h2>
    <div class="card-group">
        <div class="card" *ngFor="let va of videoArchives">
            <div class="card-block" *ngIf="va.summarySnapshot!=null">
                    <h4><a routerLink="/video-archive/{{va.name}}">{{va.displayName}}</a></h4>
                    <p *ngIf="va.description != null">{{va.description}}</p>
                    {{gb(va.summarySnapshot.diskUsage)}} used, {{va.summarySnapshot.tracks.size}} track(s)
            </div>
        </div>
    </div>
</div>
