<div class="row gx-2 gy-2">

<p *ngIf="appsRailwayTrack.length==0 && appsAutoCheckpoint.length==0">No applications configured on the server</p>

<h2 *ngIf="appsRailwayTrack.length > 0">Railway tracks</h2>
<div class="col-sm-6 col-md-3"  *ngFor="let a of appsRailwayTrack">
    <div class="card">
        <div class="card-img-top">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let s of a.videoSources">
                    <div class="picsum-img-wrapper">
                        <img class="d-block w-100 card-img-top" [src]="liveSnapshots[s.name]" />
                    </div>
                    <div class="carousel-caption">
                        <h3>{{s.displayName}}</h3>
                        <p>{{s.description}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="card-body p-3">
            <h4>
                <a routerLink="RailwayTrack/{{a.name}}">
                    {{a.displayName}}
                </a>
            </h4>
        </div>
    </div>
</div>

<h2 *ngIf="appsAutoCheckpoint.length > 0">Auto checkpoints</h2>
<div class="col-sm-6 col-md-3" *ngFor="let a of appsAutoCheckpoint">
    <div class="card">
        <div class="card-img-top">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let s of a.directions">
                    <div class="picsum-img-wrapper">
                        <img class="d-block w-100 card-img-top" [src]="liveSnapshots[s.videoSource.name]" />
                    </div>
                    <div class="carousel-caption">
                        <h3>{{s.name}}</h3>
                        <p>{{s.direction}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="card-body p-3">
            <h4>
                <a routerLink="AutoCheckpoint/{{a.name}}">
                    {{a.displayName}}
                </a>
            </h4>
        </div>
    </div>
</div>

</div>
