<div class="row">
<div class="col-md-4">
<div class="card">
    <div class="card-block">
    <h4 class="card-title">Storage</h4>
    <p class="card-text">Select a video archive to extract video data from. A single video source may be written into multiple video archives.</p>
    </div>
    <ul class="nav nav-pills flex-column">
    <li class="nav-item" *ngFor="let va of videoArchives">
        <a class="nav-link" routerLink="/video-archive/{{va.name}}" routerLinkActive="active">
            {{va.displayName}}<small *ngIf="va.displayName != va.name"> ({{va.name}})</small></a>
    </li>
    </ul>
</div>
<br/>
<div class="card" *ngIf="selectedArchiveSummary != null">
    <div class="card-block">
        <h5>Summary</h5>
        Disk usage: {{gb(selectedArchiveSummary.diskUsage)}}<br/>
        Disk free space: {{gb(selectedArchiveSummary.diskFreeSpace)}} <br/>
        Video tracks: {{selectedArchiveSummary.tracks.size}} <br/>
    </div>
    
</div>
<br/>
<div class="card" *ngIf="selectedArchive != null">
    <div class="card-block">
    <h4>Video track</h4>
    <p>Select the track - a video source previously written to the archive - to display data from.</p>
    </div>
    <ul class="nav nav-pills flex-column">
    <li class="nav-item" *ngFor="let vc of selectedArchive.videoTracks">
        <a class="nav-link" routerLink="./{{vc.videoSource.name}}" routerLinkActive="active">
            <div class="row">
                <div class="col-md-4"><img src="{{'v1/svc/'+selectedArchive.name+'/'+vc.videoSource.name+'/snapshot?cached=0&amp;width=160'}}" width="100%"/></div>
                <div class="col-md-8">{{vc.videoSource.displayName}}<small *ngIf="vc.videoSource.displayName != vc.videoSource.name"> ({{vc.videoSource.name}})</small>,
                    <br/>{{gb(selectedArchiveSummary.tracks.get(vc.videoSource.name).diskUsage)}},
                    {{formatInterval(vc.videoSource.name)}}</div>
            </div>
        </a>
        <!--//{{vc.diskUsage/1000000}} MB, {{vc.timeBoundaries[0]}}-{{vc.timeBoundaries[1]}}-->
    </li>
    </ul>

</div>
</div>

<div class="col-md-8">
<router-outlet></router-outlet>
</div>

</div> <!--row-->