<div *ngIf="videoTrack != null">
<h5>Summary for {{videoTrack.videoSource.name}} @ {{videoTrack.videoArchive.name}}</h5>

<div *ngIf="videoTrackData != null">
    Disk space used: {{gb(videoTrackData.summary.diskUsage)}}<br/>
    Depth: {{formatDepth(videoTrackData.summary.timeBoundaries)}} ({{formatInterval(videoTrackData.summary.timeBoundaries)}}) <br/>
    Total video fragments length: {{formatTemporalLength(totalTemporalLength(videoTrackData.timeLine))}} <br/>
</div>

<div class="row">
    <div class="col-md-5" *ngIf="videoTrackData != null">
        <ul class="list-group intervals">
            <li class="list-group-item list-group-item-action interval-item" *ngFor="let i of videoTrackData.timeLine" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="." [queryParams]="{begin: i[0].valueOf(), end:i[1].valueOf() }" class="ainterval"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{formatInterval(i)}}</a>
                    <span *ngIf="shouldRefine(i)"> ...</span>
            </li>
        </ul>
    </div>
    <div class="col-md-7" *ngIf="currentInterval != null">
        <h4>{{formatInterval(currentInterval)}}</h4>
        <div *ngIf="isHttp">
            <a href="{{exportUrl(currentInterval, 'isom')}}"
                class="btn btn-primary" role="button" download target="_blank">Export MP4</a>&nbsp;
            <a href="{{exportUrl(currentInterval, 'ts')}}"
                class="btn btn-primary" role="button" download target="_blank">Export MPEG TS</a>
        </div>
        <div *ngIf="shouldRefine(currentInterval)">
            Please refine a time window within selected interval:
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{formatInterval(refinedInterval)}}
                </button>
                <div class="dropdown-menu archive-refine-menu">
                    <button class="dropdown-item" type="button" *ngFor="let i of subintervals" (click)="setRefinedInterval(i)">{{formatInterval(i)}}</button>
                </div>
            </div>
        </div> <!--should refine-->
    </div>
</div> <!--row-->
<br/>
</div>
<div *ngIf="isHttp" id="ArchiveVideoDiv">
    <hls-viewport [video-source]="videoTrack.videoSource" [interval]="interval"></hls-viewport>
</div>
<div *ngIf="isWamp" id="WebrtcArchiveVideoDiv">
    <webrtc-viewport [video-source]="videoTrack.videoSource" [interval]="interval"></webrtc-viewport>
</div>
